<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">
   <span class="link">
   WebChat
   </span>
  </a>
  <div class="collapse navbar-collapse mi-nav">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="home">
         <span class="link">
           <i class="fas fa-comments"></i>
           Chats
         </span>
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="user-list">
         <span class="link">
           <i class="fas fa-user-friends"></i>
           Personas
         </span>
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link active"(click)="logOut()">
        <span class="link">
          <i class="fas fa-sign-out-alt"></i>
          LogOut
        </span>
      </a>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".mi-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
